<nav class="navbar sticky-top bg-black" role="navigation" th:fragment="nav_bar(user)" id="navbar">

    <div class="container-fluid ">
        <button class="navbar-toggler text-white" style="border: none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="text-white fs-1"><i class="bi bi-list"></i></span>
        </button>

        <div class="row w-75">
            <div class="col-8 d-flex justify-content-center align-items-center">
                <a class="navbar-brand" th:href="@{/}">
                    <img th:src="@{/images/ff-logo-nobg.png}" alt="Bootstrap" width="120px" class="ms-2">
                </a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
               <a class="nav-link d-flex align-items-center text-white text-center me-3" th:href="@{/usuario/abm_usuarios}" th:if="${user=='ADMINISTRADOR'}">ABM Usuarios</a>
                <a class="nav-link d-flex align-items-center text-white text-center me-3" th:href="@{/producto/abm_productos}" th:if="${user=='ADMINISTRADOR'}">ABM Productos</a>
                <a  th:href="@{'/'+${user=='VISITANTE'? 'login' :'logout'}}" class="me-3 nav-link d-flex align-items-center" id="login">
                    <i th:classappend="${user=='VISITANTE' ? 'bi bi-box-arrow-in-right':'bi bi-box-arrow-in-left'}" class="text-white fs-2 me-2"></i></a>

                <a th:href="@{'/'+${user=='USUARIO' || user=='ADMINISTRADOR'? 'perfil' :'login'}}" class="me-3" >
                    <i th:classappend="${user=='USUARIO' || user=='ADMINISTRADOR'? 'bi bi-person-fill' :'bi bi-person'}" class="text-white fs-2"></i></a>
                <button class="btn btn-link"  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTop" aria-controls="offcanvasTop"><i class="bi bi-search text-white fs-2"></i></button>
                <div class="offcanvas offcanvas-top" tabindex="-1" id="offcanvasTop" aria-labelledby="offcanvasTopLabel">
                    <div class="offcanvas-header">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-flex w-100 align-items-center flex-column">
                        <p class="text-muted text-opacity-50 mb-3 fs-3">¡Busca entre nuestros productos!</p>
                        <form class="d-flex w-50" role="search" id="form_nombre">
                            <input type="text" name="attribute" value="NOMBRE" id="filtro_nombre" class="visually-hidden">
                            <input class="form-control me-2 base-font" type="search" placeholder="Buscar" aria-label="Search" name="value">
                            <button class="btn btn-danger" type="submit">Buscar</button>
                        </form>
                    </div>
                </div>

            </div>

        </div>

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <img th:src="@{/images/ff-logo-nobg.png}" alt="Bootstrap" width="80px" class="ms-2">

                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <h5>Menu</h5>
                <div class="row d-flex flex-column justify-content-between ">
                    <div class="col-10 border-top p-3">
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown mb-2">
                                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Productos
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" href="#" th:unless="${user=='ADMINISTRADOR'}">Hombres</a></li>
                                    <li><a class="dropdown-item" href="#" th:unless="${user=='ADMINISTRADOR'}">Mujeres</a></li>
                                    <li><a class="dropdown-item" href="#" th:unless="${user=='ADMINISTRADOR'}">Calzado</a></li>
                                    <li><a class="dropdown-item" href="#" th:unless="${user=='ADMINISTRADOR'}">Accesorios</a></li>
                                    <li><a class="dropdown-item" th:href="@{/producto/listado}" th:unless="${user=='ADMINISTRADOR'}">Todos los productos</a></li>
                                </ul>
                            </li>

                            <li class="nav-item mb-2" th:unless="${user=='ADMINISTRADOR'}">
                                <a class="nav-link" href="#" >Información</a>
                            </li>
                            <li class="nav-item mb-2"  th:unless="${user=='ADMINISTRADOR'}">
                                <a class="nav-link" href="#">Nosotros</a>
                            </li>
                            <li class="nav-item mb-2" th:if="${user=='ADMINISTRADOR'}">
                                <a class="nav-link" th:href="@{/usuario/abm_usuarios}" >ABM Usuarios</a>
                            </li>
                            <li class="nav-item" >
                                <a class="nav-link" th:href="@{/producto/abm_productos}" th:if="${user=='ADMINISTRADOR'}">ABM Productos</a>
                            </li>
                        </ul>
                    </div>
                    <h5>Información de Contacto</h5>
                    <div class="col-10 border-top  p-3">

                        <ul class="nav flex-column">
                            <li class="nav-item mb-2"><a href="tel +2614850621" class="nav-link p-0 text-muted">Número de contacto</a></li>
                            <li class="nav-item mb-2"><a href="mailto:francominati2@gmail.com,octaviofarinia@gmail.com?Subject=Contacto?" class="nav-link p-0 text-muted">Envianos un email!</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Acerca de nosotros</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Información</a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Politicas y servicios</a></li>

                        </ul>
                    </div>
                    <h5>Redes Sociales</h5>
                    <div class="col-10 border-top p-3">
                        <ul class="nav justify-content-start gap-3">
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img th:src="@{/svgs/twitter-svgrepo-com.svg}" class="social-media"></a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img th:src="@{/svgs/facebook-svgrepo-com.svg}" class="social-media"></a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img th:src="@{/svgs/instagram-with-circle-svgrepo-com.svg}" class="social-media"></a></li>
                            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img th:src="@{/svgs/whatsapp-fill-svgrepo-com.svg}" class="social-media"></a></li>
                        </ul>
                    </div>

                    <h5>¡Mantente informado!</h5>
                    <div class="col-10 border-top p-3">
                        <form>
                            <p>Actualización mensual sobre nuestros productos</p>
                            <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                                <label for="newsletter2" class="visually-hidden">Dirección de correo electronico</label>
                                <input id="newsletter2" type="text" class="form-control" placeholder="Email">
                                <button class="btn btn-danger" type="button">Subscribe</button>
                            </div>
                        </form>
                    </div>
                    <h5 >Tu cuenta</h5>
                    <div class="col-10 border-top p-3 d-flex justify-content-space-around flex-column">
                        <div class="d-flex justify-content-between">
                            <a  th:href="@{'/'+${user=='VISITANTE'? 'login' :'logout'}}" class="btn btn-danger d-flex align-items-center">
                                <i th:classappend="${user=='VISITANTE' ? 'bi bi-box-arrow-in-right':'bi bi-box-arrow-in-left'}" class="text-white"></i>
                                <span th:text="${user=='VISITANTE' ? 'Ingresar' :'Cerrar sesión'}" class=" text-white ms-3"></span></a>
                            <a th:href="@{'/'+${user=='USUARIO' || user=='ADMINISTRADOR'? 'perfil' :'login'}}" class="nav-link">
                                <i th:classappend="${user=='USUARIO' || user=='ADMINISTRADOR'? 'bi bi-person-fill' :'bi bi-person'}"></i></a>
                        </div>



                    </div>
                </div>
                </div>


            </div>

        </div>
    </div>
</nav>

<th:block th:fragment="scripts_bootstrap">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    <script th:src="@{/src/main.js}"></script>
</th:block>

<head th:fragment="css_and_icons_bootstrap">
    <link rel='stylesheet' type='text/css' media='screen' th:href="@{/css/styles.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="icon" th:href="@{/images/ff-logo.png}" type="image/jpg" sizes="32x32">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
</head>

<div class="container-fluid bg-white mt-5 border-top px-5" th:fragment="footer">
    <footer class="py-3">
        <div class="row">
            <div class="col-6 col-md-2 mb-3">
                <h5>Flip-Floppin</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Inicio</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Productos</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Hombres</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Mujeres</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Calzado</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Accesorios</a></li>
                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Información y Contacto</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="tel +2614850621" class="nav-link p-0 text-muted">Número de contacto</a></li>
                    <li class="nav-item mb-2"><a href="mailto:francominati2@gmail.com,octaviofarinia@gmail.com?Subject=Contacto?" class="nav-link p-0 text-muted">Envianos un email!</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Acerca de nosotros</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Información</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Politicas y servicios</a></li>

                </ul>
            </div>

            <div class="col-6 col-md-2 mb-3">
                <h5>Redes Sociales</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img th:src="@{/svgs/twitter-svgrepo-com.svg}" class="social-media"></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img th:src="@{/svgs/facebook-svgrepo-com.svg}" class="social-media"></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img th:src="@{/svgs/instagram-with-circle-svgrepo-com.svg}" class="social-media"></a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><img th:src="@{/svgs/whatsapp-fill-svgrepo-com.svg}" class="social-media"></a></li>
                </ul>
            </div>


            <div class="col-md-5  mb-3">
                <form>
                    <h5>Subscribe to our newsletter</h5>
                    <p>Monthly digest of what's new and exciting from us.</p>
                    <div class="d-flex flex-column flex-sm-row w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Email address</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Email address">
                        <button class="btn btn-primary" type="button">Subscribe</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
            <p>© 2022 Company, Inc. All rights reserved.</p>

        </div>
    </footer>
</div>