<th:block th:fragment="go-back">
    <a href="javascript: history.go(-1)" class="btn btn-outline-light d-inline me-auto mt-3 ms-3 mb-auto"><i class="bi bi-arrow-left-square  me-2 "></i>Volver atrás</a>
</th:block>
<th:block th:fragment="go-back-d">
    <a href="javascript: history.go(-1)" class="btn btn-outline-dark d-inline me-auto mt-3 ms-3 mb-auto"><i class="bi bi-arrow-left-square  me-2 "></i>Volver atrás</a>
</th:block>

<th:block th:fragment="go-back-index">
    <a href="/" class="btn btn-outline-dark d-inline me-auto mt-3 ms-3 "><i class="bi bi-arrow-left-square  me-2 "></i>Volver al inicio</a>
</th:block>
<th:block th:fragment="go-back-listado">
    <a href="/producto/listado/0" class="btn btn-outline-dark d-inline me-auto mt-3 ms-3 mb-auto"><i class="bi bi-arrow-left-square  me-2 "></i>Volver a productos</a>
</th:block>

