@font-face {
    font-family: "Futura Lt Light";
    src: url("/font/futura/Futura_Lt_Light.ttf");
    font-style: normal;
    font-weight: normal;
  }
  @font-face {
    font-family: "Futura Lt Condensed";
    src: url("/font/futura-condensed/futura-condensed.ttf");
    font-style: normal;
    font-weight: normal;
  }