html,
body {
  padding: 0;
  margin: 0; }

html {
  height: 100%; }

body {

  font-size: 1em;
  letter-spacing: .5px;
  width: 100%;
  position: relative; }

h1, h2, h3, h4, h5 {

  font-weight: bold; }


.bg-rojo {
  background-color: #E40232; }

.bg-amarillo {
  background-color: #FFBD59; }

.bg-negro {
  background-color: #000000; }

.bg-g-oscuro {
  background-color: #a9a9a9; }

.bg-g-claro {
  background-color: #cdcddc; }

.base-font, .base-font-w {
  color: #000000;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.5px;
  line-height: 1;
  text-decoration: none;
  }
  .base-font-w {
    color: #ffffff; }

.title-font, .title-font-w {
  color: black;
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1;
  }
  .title-font-w {
    color: #ffffff; }

.link-font {
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1;
   }

.nav-top {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px; }
.social-media{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.bg{
  background-image: url("../images/bg-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.bg-black{
  background: black;
}
.jumbotron{
  max-width: 650px;
}
.go-back{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: white;
}
.go-back:hover{
  color: #cfcfcf;
  text-decoration: none;
}

.carga-imagenes > input[type="file"]{
  appearance: none;
  border: none;
  outline: none;
  background: #E40232;
  color: white;
  border-radius: 1em;
}
.container-fluid{

 padding-right: 0px;
 padding-left: 0px;

}
@media screen and (min-width: 1024px){
.bg{
background-image: url("../images/bg-desktop.jpg");
background-position: center;
background-repeat: no-repeat;

}
.jumbotron{
max-width: 650px;
min-width: 500px;
}
}