body{ min-height: 100vh; margin:0; }

footer{ min-height:50px; }

/* The article fills all the space between header & footer */
body{ display:flex; flex-direction:column; }
article{ flex:1; }

h1, h2, h3, h4, h5 {

  font-weight: bold; }

table{
  table-layout: fixed;
  width: 150px;
}

th, td {
  border: 1px solid blue;
  width: 100px;
  word-wrap: break-word;
}

.social-media{
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.card-a .precio{
  margin-top: 0;
  transition: 300ms margin-top;
}
.card-a:hover .precio{
  margin-top: .5em;
  transition: 300ms margin-top;
}
.bg{
  background-image: url("../images/bg-mobile.jpg");
  background-position: center;
  background-repeat: no-repeat;
}
.bg-black{
  background: black;
}
.img-outline{
  outline: 1px solid #cfcfcf;
  outline-offset: 3px;
}
.jumbotron{
  max-width: 650px;
}
.go-back{
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  text-decoration: none;
  color: white;
}
.go-back:hover{
  color: #cfcfcf;
  text-decoration: none;
}

.carga-imagenes > input[type="file"]{
  appearance: none;
  border: none;
  outline: none;
  background: #E40232;
  color: white;
  border-radius: 1em;
}
.container-fluid{
 padding-right: 0px;
 padding-left: 0px;
}
.circle{
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  outline: 1px solid black;
  outline-offset: 2px;
}
.hovereable{
  transition: 300ms background;
}
.hovereable:hover{

  background:   #dee2e6;

}
@media screen and(min-width: 520px){

}
@media screen and (min-width: 1024px){
.bg{
background-image: url("../images/bg-desktop.jpg");
background-position: center;
background-repeat: no-repeat;

}
  .circle{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    outline: 1px solid black;
    outline-offset: 2px;
  }

.jumbotron{
max-width: 650px;
min-width: 500px;
}
}

