<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <th:block th:insert="components/components.html :: css_and_icons_bootstrap"></th:block>
    <title>FlipFloppin</title>
</head>
<body class="bg-light">

<nav th:replace="components/components :: nav_bar(${session.usuario_session!=null}?${session.usuario_session.rol.toString()}:'VISITANTE')"></nav>
<div class="container-fluid mt-5 px-5 my-3 ">
    <div class="row">
        <div class="col-lg-9 col">
            <h1 class="fs-2 text-start text-uppercase"><i class="bi bi-archive-fill me-2"></i>interfaz abm de productos</h1>
        </div>
        <div class="col-lg-3 col d-flex justify-content-end align-items-center">
            <a th:href="@{/producto/formulario/0}" class="btn btn-outline-success">Agregar Producto</a>
        </div>
    </div>
    <div class="row">
        <div class="col-10">
            <table class="table mt-3 text-center table-hover">
                <thead class="border border-1">
                <tr class="border border-1">
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Acciones</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="producto : ${productos}" th:classappend="${producto.fechaBaja} ? table-danger : table-succes" class="border border-1">
                    <td th:text="${producto.id}"></td>
                    <td th:text="${producto.nombre}"></td>
                    <td th:text="${producto.precio}"></td>
                    <td th:text="${producto.descripcion}"></td>
                    <td th:text="${producto.estado}"></td>
                    <td>
                        <a th:href="@{/producto/formulario/{id}(id=${producto.id})}" class="btn btn-outline-dark me-3">Editar</a>
                        <form style="display: inline" th:unless="${producto.fechaBaja}" th:action="@{/producto/baja_producto/{id}(id=${producto.id})}" method="post">
                            <button type="submit" class="btn btn-outline-danger" >Eliminar</button>
                        </form>
                    </td>

                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-2 d-flex flex-column">
            <table class="table mt-3 text-center table-hover border border-1 h-100">
                <thead class="border border-1 ">
                <tr class="border border-1 ">
                    <th scope="col">Stock</th>
                </tr>
                </thead>
                <tbody class="border border-1 ">
                <tr th:each="stock : ${stocks}" class="border border-1 ">
                    <td th:text="${stock}" ></td>
                </tr>
            </tbody>

            </table>
        </div>
    </div>
</div>
<div class="d-flex justify-content-end pe-5">
    <nav aria-label="Page navigation example">
        <ul class="pagination ">
            <li class="page-item"><a th:href="${previousPage!=null}?'/producto/abm_productos/'+${previousPage}:''" class="page-link text-dark" >Anterior</a></li>
            <li class="page-item" th:each="i,it: ${#numbers.sequence(0, totalPages)}" th:classappend="${currentPage==it.index}?'active':''">
                <a th:if="${currentPage != i}" th:href="@{'/producto/abm_productos/' + ${i}}" class="page-link text-dark">[[${i+1}]]</a><span th:unless="${currentPage != i}" class="page-link">[[${i+1}]]</span></li>
            <li class="page-item"> <a th:href="${nextPage!=null}?'/producto/abm_productos/'+${nextPage}:''" class="page-link text-dark " >Siguiente</a></li>
        </ul>
    </nav>
</div>
<div class="d-flex justify-content-end pe-5">
    <a th:href="@{/usuario/abm_usuarios/0}" class="btn btn-outline-danger " >Ir a ABM Usuarios <i class="ms-2 bi bi-arrow-right"></i></a>
</div>

<div th:replace="components/components :: scripts_bootstrap"></div>

</body>
</html>