<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <th:block th:insert="components/components.html :: css_and_icons_bootstrap"></th:block>

    <title>FlipFloppin</title>
</head>
<body >
<nav th:replace="components/components.html :: nav_bar(${session.usuario_session!=null}?${session.usuario_session.rol.toString()}:'VISITANTE')"></nav>
<th:block th:insert="components/utils :: go-back-d"></th:block>
<main role="main"  class="container-fluid">
    <div class="row  justify-content-center">
        <div class="col col-lg-6">
            <div class="row ">
                <div class="col-12 d-flex justify-content-center border-secondary " th:unless="${domicilios!=null and not #lists.isEmpty(domicilios)}">
                    <div class="d-flex justify-content-center flex-column">
                        <img th:src="@{/images/location-not-found-svgrepo-com.svg}" alt="location-not-found" width="100" class="mx-auto mb-3">
                        <div class="input-group">
                            <span class="input-group-text">¿No has agregado ningún domicilio?</span>
                            <a th:href="@{/domicilio/formulario/0}" class="btn btn-outline-warning align-items-center" type="submit">Agrega uno</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-flex flex-column bg-secundary bg-opacity-10 border-secondary" th:if="${domicilios!=null and not #lists.isEmpty(domicilios)}">
                    <h1>Selecciona un Domicilio</h1>
                    <form action="/carrito/confirmar_compra" method="POST" class="my-3 input-group justify-content-center">
                            <span for="idDomicilio" class="input-group-text">Domicilio</span>
                            <select class="form-select text-secondary" name="idDomicilio" id="idDomicilio" >
                                <option th:each="domicilio : ${domicilios}" th:value="${domicilio.id}" th:text="${domicilio.descripcion+' '+domicilio.numero}" class="text-dark"></option>
                            </select>
                            <button class="btn btn-outline-success" type="submit">Continuar</button>
                    </form>
                </div>

                <div class="col-12 d-flex input-group justify-content-end align-items-center align-self-end" th:if="${domicilios!=null and not #lists.isEmpty(domicilios)}">
                    <a href="/domicilio/abm_domicilio" class="btn btn-outline-dark" type="submit">Administrar Domicilios</a>
                    <a th:href="@{/domicilio/formulario/0}" class="btn btn-outline-danger" type="submit">Agregar Domicilio</a>
                </div>
            </div>
        </div>
    </div>
</main>
<article></article>

<div th:insert="components/components :: footer" ></div>
<th:block th:insert="components/components :: scripts_bootstrap"></th:block>

</body>
</html>