<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>FlipFloppin</title>
</head>
<body>

<div th:replace="/components/components :: nav_bar(${session.usuario_session!=null}?${session.usuario_session.rol.toString()}:'USUARIO')"></div>

<div class="container mt-5">
    <div class="row align-items-center justify-content-center text-center mb-5 col-lg">
        <div class="col-lg-6">
            <form th:action="@{/usuario/formulario/{id}(id=${usuario.id} ? ${usuario.id} : 0)}" method="POST">
                <input type="hidden" name="id" th:value="${usuario.id} ? ${usuario.id} : 0 ">
                <div class="form-group h5">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" placeholder="ingrese su nombre" class="form-control" name="nombre" th:value="${usuario.nombre}">
                </div>
                <div class="form-group h5">
                    <label for="apellido">Apellido</label>
                    <input id="apellido" type="text" placeholder="ingrese su apellido" class="form-control"
                           name="apellido" th:value="${usuario.apellido}">
                </div>
                <div class="form-group h5">
                    <label for="email">Email</label>
                    <input id="email" type="email" placeholder="ingrese su email" class="form-control" name="email" th:value="${usuario.email}">
                </div>
                <div class="form-group h5">
                    <select class="custom-select" name="rol">
                        <option selected>Rol</option>
                        <option th:each="rol : ${roles}" th:value="${rol}" th:text="${rol}"></option>
                    </select>
                </div>
                <div class="form-group h5">
                    <select class="custom-select" name="estado">
                        <option selected>Estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
                    </select>
                </div>
                <div class="form-group h5">
                    <label for="password">Contraseña</label>
                    <input id="password" type="password" placeholder="ingrese su contraseña" class="form-control"
                           name="password">
                </div>
                <div class="form-group">
                    <input type="password" placeholder="repita la contraseña" class="form-control"
                           name="password_confirmation">
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="/components/components :: scripts_bootstrap"></div>

</body>
</html>
