<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <th:block th:insert="/components/components.html :: css_and_icons_bootstrap"></th:block>

    <title>FlipFloppin</title>
</head>
<body>

<div th:replace="/components/components :: nav_bar(${session.usuario_session!=null}?${session.usuario_session.rol.toString()}:'VISITANTE')"></div>

<div class="container mt-5">
    <div class="row align-items-center justify-content-center text-center mb-5 col-lg">
        <div class="col-lg-6">
            <br>
            <br>
            <br>
            <form th:action="@{/producto/formulario/{id}(id=${producto.id} ? ${producto.id} : 0)}" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="id" th:value="${producto.id} ? ${producto.id} : 0 ">
                <div class="form-group h5">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" placeholder="ingrese el nombre" class="form-control" name="nombre" th:value="${producto.nombre}">
                </div>
                <div class="form-group h5">
                    <label for="marca">Marca</label>
                    <input id="marca" type="text" placeholder="ingrese el nombre de la marca" class="form-control" name="marca" th:value="${producto.marca}">
                </div>
                <div class="form-group h5">
                    <label for="precio">Precio</label>
                    <input id="precio" type="number" placeholder="ingrese el precio" class="form-control"
                           name="precio" th:value="${producto.precio}">
                </div>
                <div class="form-group h5">
                    <label for="descripcion">Descripcion</label>
                    <textarea id="descripcion" placeholder="ingrese la descripcion" class="form-control" name="descripcion" th:text="${producto.descripcion}"></textarea>
                </div>
                <div class="form-group h5">
                    <select class="custom-select" name="categoria">
                        <option selected>Categoria</option>
                        <option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria}"></option>
                    </select>
                </div>
                <div class="form-group h5">
                    <select class="custom-select" name="estado">
                        <option selected>Estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}"></option>
                    </select>
                </div>
                <div class="form-group h5">
                    <select class="custom-select" name="sexo">
                        <option selected>Sexo</option>
                        <option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo}"></option>
                    </select>
                </div>
                <div class="form-group h5">
                    <label for="imagenes">Ingrese las imagenes del producto</label>
                    <input type="file" class="form-control-file" id="imagenes" name="archivosImagenes" multiple>
                </div>
                <button type="submit" class="btn btn-primary">Enviar</button>
            </form>
        </div>
    </div>
</div>

<div th:replace="/components/components :: scripts_bootstrap"></div>

</body>
</html>