<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <th:block th:insert="components/components.html :: css_and_icons_bootstrap"></th:block>

    <title>FlipFloppin</title>
</head>
<body class="bg d-flex flex-column justify-content-center align-items-center">
<th:block th:insert="components/utils :: go-back"></th:block>

<div class="container d-flex flex-column justify-content-center align-items-center h-100 mb-auto ">
    <div class="jumbotron bg-white ">
        <h1 class="text-center fs-2 mb-2 text-dark d-fles"><i class="bi bi-plus-circle-fill me-2"></i>Registrar productos</h1>


            <form th:action="@{/producto/formulario/{id}(id=${producto.id} ? ${producto.id} : 0)}" method="POST" enctype="multipart/form-data" class="row text-center py-3 mx-auto ">
                <input type="hidden" name="id" th:value="${producto.id} ? ${producto.id} : 0 ">
                <div class="col-md-6 form-group h5 text-start mb-3">
                    <label for="nombre">Nombre</label>
                    <input id="nombre" type="text" placeholder="Ingrese el nombre" class="form-control" name="nombre" th:value="${producto.nombre}">
                </div>
                <div class="col-md-6 form-group h5 text-start mb-3">
                    <label for="marca">Marca</label>
                    <input id="marca" type="text" placeholder="Ingrese el nombre de la marca" class="form-control" name="marca" th:value="${producto.marca}">
                </div>
                <div class="col-md-6 form-group h5 text-start mb-3">
                    <label for="precio">Precio</label>
                    <input id="precio" type="number" placeholder="Ingrese el precio" class="form-control"
                           name="precio" th:value="${producto.precio}">
                </div>
                <div class="col-md-6 form-group h5 text-start mb-3">
                    <label for="estado">Estado</label>
                    <select class="custom-select form-control text-secondary" name="estado" id="estado">
                        <option selected disabled>Estado</option>
                        <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}" class="text-dark"></option>
                    </select>
                </div>
                <div class="col-md-12 form-group h5 text-start mb-3">
                    <label for="descripcion">Descripcion</label>
                    <textarea id="descripcion" placeholder="Ingrese la descripcion" class="form-control" name="descripcion" th:text="${producto.descripcion}"></textarea>
                </div>
                <div class="col-md-6 form-group h5 text-start mb-3">
                    <label for="categoria">Categoría</label>
                    <select class="custom-select form-control text-secondary" name="categoria" id="categoria">
                        <option selected disabled>Categoria</option>
                        <option th:each="categoria : ${categorias}" th:value="${categoria}" th:text="${categoria}" class="text-dark"></option>
                    </select>
                </div>
                <div class="col-md-6 form-group h5 text-start mb-3">
                    <label for="sexo">Sexo</label>
                    <select class="custom-select form-control text-secondary" name="sexo" id="sexo">
                        <option selected disabled>Sexo</option>
                        <option th:each="sexo : ${sexos}" th:value="${sexo}" th:text="${sexo}" class="text-dark"></option>
                    </select>
                </div>

                <div class="col-md-12 form-group h5 text-start mb-3">
                    <label for="imagenes">Ingrese las imagenes del producto</label>
                    <input type="file" class="carga-imagenes" id="imagenes" name="archivosImagenes" multiple>
                </div>
                <div class="col-md-12 form-group h5 text-start mb-3 w-100 d-flex">
                <button type="submit" class="btn btn-danger mx-4 mx-auto py-2">Agregar producto</button>
                </div>
            </form>
    </div>
</div>
<div th:replace="components/components :: scripts_bootstrap"></div>

</body>
</html>