<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <th:block th:insert="/components/components.html :: css_and_icons_bootstrap"></th:block>
    <title>FlipFloppin</title>
</head>
<body class="bg ">
<th:block th:insert="components/utils :: go-back"></th:block>
<div class="container d-flex flex-column justify-content-center align-items-center h-100 pt-5 ">
    <div class="jumbotron bg-white ">
        <h1 class="text-center fs-2 mb-2 text-dark d-fles"><i class="bi bi-person-circle me-3 text-danger"></i>Registrar Usuario</i></h1>
        <div class="row text-center py-3 mx-auto">
            <div class="col-lg">
                <form th:action="@{/usuario/formulario/{id}(id=${usuario.id} ? ${usuario.id} : 0)}" method="POST">
                    <input type="hidden" name="id" th:value="${usuario.id} ? ${usuario.id} : 0 ">
                    <div class="row">
                        <div class="col-md-12 form-group h5 text-start mb-2">
                            <label for="nombre">Nombre</label>
                            <input id="nombre" type="text" placeholder="Ingrese su nombre" class="form-control" name="nombre" th:value="${usuario.nombre}">
                        </div>
                        <div class="col-md-12 form-group h5 text-start mb-2">
                            <label for="apellido">Apellido</label>
                            <input id="apellido" type="text" placeholder="Ingrese su apellido" class="form-control" name="apellido" th:value="${usuario.apellido}">
                        </div>
                        <div class="col-md-12 form-group h5 text-start mb-2">
                            <label for="email">Email</label>
                            <input id="email" type="email" placeholder="Ingrese su email" class="form-control" name="email" th:value="${usuario.email}">
                        </div>
                        <div class="col-md-12 form-group h5 text-start mb-2">
                            <label for="estado">Estado del usuario</label>
                            <select class="custom-select form-control text-secondary" name="estado" id="estado">
                                <option selected >Estado</option>
                                <option th:each="estado : ${estados}" th:value="${estado}" th:text="${estado}" class="text-dark"></option>
                            </select>
                        </div>
                        <div class="col-md-12 form-group h5 text-start mb-2">
                            <label for="password">Contraseña</label>
                            <input id="password" type="password" placeholder="Ingrese su contraseña" class="form-control"
                                   name="password">
                        </div>
                        <div class="col-md-12 form-group h5 text-start mb-2">
                            <label for="password">Repita la contraseña</label>
                            <input type="password" placeholder="Repita la contraseña" class="form-control"
                                   name="password_confirmation">
                        </div>
                        <div class="col-md-12 form-group h5 text-start w-100 mt-5 d-flex">
                            <button type="submit" class="btn btn-danger px-4 mx-auto py-2">Enviar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="/components/components :: scripts_bootstrap"></div>

</body>
</html>
