<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <th:block th:insert="/components/components.html :: css_and_icons_bootstrap"></th:block>

    <title>FlipFloppin</title>
</head>
<body class="bg d-flex flex-column justify-content-center align-items-center">

<th:block th:insert="components/utils :: go-back"></th:block>
<div class="container d-flex flex-column justify-content-center align-items-center h-100 mb-auto ">
    <div class="jumbotron bg-white ">
        <a th:href="@{/producto/formulario/{id}(id=${id})}" class="mb-3 btn btn-dark">Volver atras</a>
        <h1 class="text-start fs-2 mb-2 text-dark d-fles"><i class="bi bi-plus-circle-fill me-2"></i>Agregar detalle del producto</h1>

            <form th:action="@{/detalle_producto/formulario/{id}(id=${detalle.id} ? ${detalle.id} : 0)}" method="POST" enctype="multipart/form-data" class="row text-center py-3 mx-auto ">
                <input type="hidden" name="id" th:value="${detalle.id} ? ${detalle.id} : 0 ">
                <input type="hidden" name="idProducto" th:value="${idProducto} ? ${idProducto} : ${detalle.producto.id}">
                <div class="col-md-6 form-group h5 text-start mb-3">
                    <label for="stock">Stock</label>
                    <input id="stock" type="number" placeholder="Ingrese el stock" class="form-control" name="stock" th:value="${detalle.stock}">
                </div>
                <div class="col-md-6 form-group h5 text-start mb-3" th:if="${categoria == 'PRENDA_INFERIOR'|| categoria =='PRENDA_SUPERIOR'}">
                    <label for="talle-p">Talle de prenda</label>
                    <select class="custom-select" name="tallePrenda" id="talle-p">
                        <option selected disabled>Talle Prenda</option>
                        <option th:each="tallePrenda : ${tallesPrendas}" th:value="${tallePrenda}" th:text="${tallePrenda}"></option>
                    </select>
                </div>
                <div class="col-md-6 form-group h5 text-start mb-3" th:if="${categoria =='CALZADO'}">
                    <label for="talleCalzado">Talle Calzado</label>
                    <input id="talleCalzado" type="number" placeholder="Ingrese el talle del calzado" class="form-control" name="talleCalzado" th:value="${talleCalzado}">
                </div>
                <div class="col-md-6 form-group h5 text-start mb-3">
                    <label for="color">Color</label>
                    <select class="custom-select form-control text-secondary" name="color" id="color">
                        <option selected disabled>Color</option>
                        <option th:each="color : ${colores}" th:value="${color}" th:text="${color}" class="text-dark"></option>
                    </select>
                </div>
                <div class="col-md-12 form-group h5 text-start mt-3 w-100 d-flex justify-content-center">
                <button type="submit" class="btn btn-danger">Cargar Detalle</button>
                <a href="/producto/abm_productos/0" class="ms-3 btn btn-success">Terminar de agregar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="/components/components :: scripts_bootstrap"></div>

</body>
</html>