<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <th:block th:insert="/components/components.html :: css_and_icons_bootstrap"></th:block>

    <title>FlipFloppin</title>
</head>
<body>
<nav th:replace="/components/components.html :: nav_bar(${session.usuario_session!=null}?${session.usuario_session.rol.toString()}:'VISITANTE')"></nav>
<main role="main">
    <div class="container-fluid px-3">
        <div class="row d-flex justify-content-center">
            <div class="col-md-5 col-sm-8 col-lg-3 p-3 d-flex justify-content-center flex-column ">
                <img class="img-fluid mx-auto align-self-center " th:src="@{'/imagenes/' + ${producto.imagenes[0]}}"
                     th:alt="${producto.imagenes[0]}" id="img-ppal" >
                <div class="d-flex mt-3 justify-content-start align-items-center mx-auto" >
                    <div class="border-secondary row">
                        <div class="col me-3 " th:each="imagen,iterador : ${producto.imagenes}">
                            <img th:src="@{'/imagenes/'+${imagen}}" th:alt="${imagen}"  class="img-second img-fluid" >
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-5  p-3 d-flex justify-content-center">
                <div class="row ">
                    <div class="col-12 d-flex flex-column ">
                        <h1 class="card-title text-uppercase pt-2 fw-bold" th:text="${producto.nombre}"></h1>
                        <div class="d-flex justify-content-between align-items-top">
                        <blockquote th:text="${producto.descripcion}" class="text-secondary mt-2"></blockquote>
                        <blockquote th:text="${producto.marca}"  class="text-secondary mt-2"> </blockquote>
                         </div>
                        <h6 th:if="${producto.detalle[index].tallePrenda}" th:text="${'Talle: '+producto.detalle[index].tallePrenda}"  class="text-secondary mt-2 text-end fw-light"> </h6>
                        <h2 th:text="${'$ '+producto.precio}" class="fst-italic p-2 text-end fw-bold"></h2>
                        <form action="/carrito/agregar_producto" method="POST" class="my-3">
                            <input type="hidden" name="idProducto" th:value="${producto.id}">
                            <input type="hidden" name="idDetalle" th:value="${producto.detalle[index].id}">
                            <input type="hidden" name="sourceURL" th:value="${sourceURL}">
                            <div class="row justify-content-between align-items-center mt-3 mx-2r">
                                <div class="input-group col d-flex justify-content-end align-items-center">
                                    <label for="number" class="input-group-text">Cantidad</label>
                                    <input id="number" type="number" value="1" name="cantidad"
                                     class="form-control me-2" style="max-width: 50px;" min="1" max="20">
                                    <button class="btn btn-outline-danger" type="submit" id="button-addon2">Agregar al carrito</button>
                                </div>
                            </div>
                        </form>
                        <div class="bg-secondary bg-opacity-25  d-flex align-items-center py-3">

                            <h4 class="ms-3 fw-bold">Colores</h4>
                            <div class="col d-flex justify-content-end ">
                                <input class="visually-hidden" th:value="${producto.detalle[index].color}" id="detalle_actual">
                                <form method="get" th:each="detalle,iterador: ${producto.detalle}">
                                    <input type="text" class="visually-hidden" name="indexDetalle" th:value="${iterador.index}">
                                    <button type="submit" class="circle me-3 colores"  th:id="${detalle.color}" ></button>
                                </form>
                            </div>
                        </div>
                        <th:block th:insert="components/utils :: go-back-d"></th:block>
                    </div>
            </div>
        </div>
        </div>
    </div>
</main>


<div th:replace="/components/components :: footer"></div>
<th:block th:insert="/components/components :: scripts_bootstrap"></th:block>
<script th:src="@{/src/productoIndividual.js}"></script>
</body>
</html>