<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <th:block th:insert="/components/components.html :: css_and_icons_bootstrap"></th:block>

    <title>FlipFloppin | Registro</title>
</head>
<body class="bg d-flex flex-column justify-content-center align-items-center">
<th:block th:insert="components/utils :: go-back"></th:block>

<!--<div th:replace="/components/components :: nav_bar(${session.usuario_session!=null}?${session.usuario_session.rol.toString()}:'VISITANTE')"></div>-->

<div class="container d-flex flex-column justify-content-center align-items-center h-100  mb-auto">
    <div class="jumbotron bg-white">
        <div class="justify-content-start">
            <img th:src="@{/images/ff-logo-short.png}" alt="logo" width="120px">
        </div>
        <div class="justify-content-center text-center mt-3">
            <h1 class="display-4 fs-2">Registro</h1>
            <h5 th:if="${error !=null}" th:text="${error}" style="color: red;"></h5>
        </div>
            <form action="/registrar_cliente" method="POST">
                <div class="row py-3 border-top ">
                <p th:if="${error !=null}" th:text="${error}" ></p>
                <div class="col-sm-6">
                    <label for="nombre" class="fw-bold">Nombre</label>
                    <input id="nombre" type="text" placeholder="Ingrese su nombre" class="form-control" name="nombre">
                </div>
                <div class="col-sm-6">
                    <label for="apellido" class="fw-bold">Apellido</label>
                    <input id="apellido" type="text" placeholder="Ingrese su apellido" class="form-control" name="apellido">
                </div>
                <div class="col-sm-12 py-2">
                    <label for="email" class="fw-bold">Email</label>
                    <input id="email" type="email" placeholder="Ingrese su email" class="form-control" name="email">
                </div>
                <div class="col-sm-12 py-2">
                    <label for="password" class="fw-bold">Contraseña</label>
                    <input id="password" type="password" placeholder="Ingrese su contraseña" class="form-control" name="password">
                </div>
                <div class="col-sm-12 py-2">
                    <label for="password" class="fw-bold">Repita la contraseña</label>
                    <input type="password" placeholder="Repita la contraseña" class="form-control"
                           name="password_confirmation">
                </div>
                <div class="col-sm d-flex justify-content-center">
                    <button type="submit" class="btn btn-danger mx-auto mt-4 px-4">Registrarse</button>
                </div>

                </div>
            </form>
    </div>
</div>

<div th:replace="/components/components :: scripts_bootstrap"></div>

</body>
</html>