.bg-rojo{
    background-color: $rojo-ff;
}
.bg-amarillo{
    background-color: $amarillo-ff;
}
.bg-negro{
    background-color: $negro;
}
.bg-g-oscuro{
    background-color: $gris-oscuro;
}
.bg-g-claro{
    background-color: $gris;
}